In [1]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv("insurance_data.csv")
df.head()

   age  bought_insurance
0   22               0.0
1   25               0.0
2   47               1.0
3   52               0.0
4   46               1.0